include layouts/main-layout

block container
  #full-container.center
    h1.center UH-OH! YOU GOT A 404! SORRY :3
    a.waves-effect.waves-light.btn-large(href='/', style="background-color: #64b5f6")
      i.mdi-action-home.left
      span GET BACK HOME!
