extends layouts/main-layout.jade

block container
  - var tiles = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
  each val in tiles
    .tile.col-4.valign-wrapper.blue.lighten-2(href="#")
      .overlay.waves-effect.waves-light
      h6.cont.center-align= val
