doctype html
html
  block vars
    -title= 'PPGAME - SEED AND REAP'
  head
    title=title
    base(href="http://localhost:8888")
    include ../blocks/styles.jade
    block addition-style
  body(ng-app="seedreap")
    block container
    include ../blocks/scripts.jade
